<!DOCTYPE html>
<html>
  <head>
    <title>Lyitlove.com | <%= title %></title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>